@font-face {
    font-family: Pixel;
    src: url(../webfont/pixopedia.ttf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

html,
body {
    min-height: 100vh;
    min-height: 100dvh;
}

body {
    background-image: url(../images/background-image.jpg);
    color: white;
    font-family: "Pixel", sans-serif;
}